*{
    margin: 0px;
    padding: 0px;
}
body{
    background:rgb(82, 243, 255);
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #4b4b4b;;
    border: none;
    color: white;
}
.textview{
    width: 204px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border-color:#4b4b4b;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%)translateY(-50%);
}